div class="flex flex-1 p-20 justify-center content-center min-h-72 bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500"
  div class="flex flex-col content-center justify-center align-middle text-center"
    h1 class="text-3xl text-white font-medium" Balrog v0.1
    p class="text-base text-white font-thin" This is an application with Rails 7
